/* Basis for the URL's scheme (http/https/ftp...) */
.link-scheme{
color:#aaa;
}

.link-scheme.scheme-mailto{
}

.link-scheme.scheme-http{
}

.link-scheme.scheme-https{
color:#009933;
}

.link-scheme.scheme-ftp{
}

.link-scheme.scheme-data{
}

.link-scheme.scheme-file{
}

/* URL component characters, e.g. path slashes, etc */
.link-component{
color:#aaa;
}

/* the colon before the port number */
.link-component.port-separator{
}

/* the colon between username and password */
.link-component.credentials-separator{
}

/* the double slashes after the http: */
.link-component.double-slashes{
}

/* The ? sign before the query part */
.link-component.query-sign{
}

/* the slashes between path folders */
.link-component.path-separator{
}

/* the equal sign between parameter names and values */
.link-component.param-equals{
}

/* the & sign between parameters */
.link-component.param-separator{
}


.link-port{
color:#990099;
}

.link-credentials{
color:#990099;
}

.link-host{
color:#0000cc;
}

.link-param-name{
color:#990099;
}

.link-query-sign{
color:#0000cc;
}

.link-param-value{
color:#009977;
}

.link-fragment-sign,
.link-fragment{
color:#999900;
}

.link-param{
display:inline-block;
}

.link-param.excluded-param{
padding:0px 2px;
border-radius:3px;
}

.link-param.excluded-param:hover{
background:#ffe4e4;
}

.link-param.excluded-param:hover .link-param-name,
.link-param.excluded-param:hover .link-param-value{
color:#ff0000;
}

.link-param.excluded-param .link-param-name,
.link-param.excluded-param .link-param-value{
color:#cc0000;
cursor:help;
}