vendor
.phpunit.result.cache
localization/storage.json
tests/assets/FileHelper/savetest.txt
docs/phpstan/output.txt
tests/config.php
tests/assets/RequestHelper/curl-log.txt
docs/libxml/LibXML.php
.idea
composer.phar
